@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    --font-family: "Roboto Mono", sans-serif;
    --second-family: "Yrsa", sans-serif;
  }

  

body{
  font-family: Roboto Mono;
    background-image: url('../bg.png'), linear-gradient(103deg, #161616 6.8%, #3e3c3c 52.27%, #7c7a7a 100%);;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}